.list {
    position: absolute;
    top: 40%;
    right: 40%;
    box-shadow: 1px 1px 5px black;
    min-width: 200px;
  }

  .texts {
    border-bottom: 1px solid #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .name{
    margin: 0;
    font-size: 16px;
  }

  .message {
    font-size: 14px;
  }